@using ResultManagement.Models
@model ResultManagement.Models.AssignCourseToTeacher

@{
    ViewBag.Title = "AssignCourseToTeacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> teachers = Model.Teachers;
    List<SelectListItem> courses = Model.Courses;
    string message = ViewBag.Message;
}


@using (Html.BeginForm("AssignCourseToTeacher", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="container bg-white mt-5 mb-5 justify-content-center">
            <div class="row">
                <div class="box">
                    <br />
                    <br />
                    <h3 class="text-center">Fill Up Student's Information</h3>
                    <br />
                    <table class="table table-borderless table-responsive tabtab">
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_Teacher_Id)</td>
                            <td>@Html.DropDownListFor(model => model.ACT_Teacher_Id, @teachers)</td>
                            <td>@Html.ValidationMessageFor(model => model.ACT_Teacher_Id)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_Teacher_Department)</td>
                            <td>@Html.TextBoxFor(model => model.ACT_Teacher_Department)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_Teacher_RemainingCredit)</td>
                            <td>@Html.TextBoxFor(model => model.ACT_Teacher_RemainingCredit)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_Course_Id)</td>
                            <td>@Html.DropDownListFor(model => model.ACT_Course_Id, @courses)</td>
                            <td>@Html.ValidationMessageFor(model => model.ACT_Course_Id)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_CourseDepartment)</td>
                            <td>@Html.TextBoxFor(model => model.ACT_CourseDepartment)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_CourseCredit)</td>
                            <td>@Html.TextBoxFor(model => model.ACT_CourseCredit)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.ACT_CourseSemester)</td>
                            <td>@Html.TextBoxFor(model => model.ACT_CourseSemester)</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center"><button type="submit" value="Save" class="btn btn-outline-secondary btn_page">Assign Courses</button></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center"><label>@message</label></td>
                        </tr>
                    </table>
                    <div class="text-center py-5"><button class="btn btn-outline-secondary btn_page text-center">@Html.ActionLink("UnAssign All Courses", "UnAssignAllCourses")</button></div>
                </div>
            </div>
        </div>
    </fieldset>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#ACT_Teacher_Id').on('change', function () {

                $('#ACT_Teacher_Department').val('');
                $('#ACT_Teacher_RemainingCredit').val('');

                $('#ACT_Teacher_Department').prop('disabled', true);
                $('#ACT_Teacher_RemainingCredit').prop('disabled', true);

                var teacherId = $('#ACT_Teacher_Id').val();
                var json = { id: teacherId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeacherInfo", "Admin")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    success: function (response) {
                        $('#ACT_Teacher_Department').val(response['Department_Name']);
                        $('#ACT_Teacher_RemainingCredit').val(response['Teacher_RemainingCredit']);
                    }
                });
            });

            $('#ACT_Course_Id').on('change', function () {

                $('#ACT_CourseCredit').val('');
                $('#ACT_CourseDepartment').val('');
                $('#ACT_CourseSemester').val('');

                $('#ACT_CourseCredit').prop('disabled', true);
                $('#ACT_CourseDepartment').prop('disabled', true);
                $('#ACT_CourseSemester').prop('disabled', true);

                var courseId = $('#ACT_Course_Id').val();
                var json = { cid: courseId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseInfo", "Admin")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    success: function (response) {
                        $('#ACT_CourseCredit').val(response['CoursePoint']);
                        $('#ACT_CourseDepartment').val(response['DepartmentName']);
                        $('#ACT_CourseSemester').val(response['SemesterId']);
                    }
                });
            });
        });
    </script>
}