@using ResultManagement.Models
@model ResultManagement.Models.AssignCourseToTeacher

@{
    ViewBag.Title = "AssignCourseToTeacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> teachers = Model.Teachers;
    List<SelectListItem> courses = Model.Courses;
    string message = ViewBag.Message;
}


@using (Html.BeginForm())
{
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="container bg-white mt-5 mb-5 justify-content-center">
                <div class="row">
                    <div class="box">
                        <br />
                        <br />
                        <h3 class="text-center">Fill Up Student's Information</h3>
                        <br />
                        <table class="table table-borderless table-responsive tabtab">
                            <tr>
                                <td>@Html.LabelFor(model => model.ACT_Teacher_Id)</td>
                                <td>@Html.DropDownListFor(model => model.ACT_Teacher_Id, @teachers, new { @id = "teacherid" })</td>
                                <td>@Html.ValidationMessageFor(model => model.ACT_Teacher_Id)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.ACT_Teacher_Department)</td>
                                <td>@Html.TextBoxFor(model => model.ACT_Teacher_Department)</td>
                                <td>@Html.ValidationMessageFor(model => model.ACT_Teacher_Department)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.ACT_Teacher_RemainingCredit)</td>
                                <td>@Html.TextBoxFor(model => model.ACT_Teacher_RemainingCredit)</td>
                                <td>@Html.ValidationMessageFor(model => model.ACT_Teacher_RemainingCredit)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.ACT_Course_Id)</td>
                                <td>@Html.DropDownListFor(model => model.ACT_Course_Id, @courses, new { id = "courseid" })</td>
                                <td>@Html.ValidationMessageFor(model => model.ACT_Course_Id)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.ACT_CourseCredit)</td>
                                <td>@Html.TextBoxFor(model => model.ACT_CourseCredit)</td>
                                <td>@Html.ValidationMessageFor(model => model.ACT_CourseCredit)</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center"><button type="submit" value="Save" class="btn btn-outline-secondary btn_page">Save Student</button></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">@Html.ValidationSummary(true, @message, new { @class = "text-danger" })</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    }
}

@section scripts{
        <script type="text/javascript">
            $(function () {
                $("#teacherid").on('click', function() {

                    var str = $("#teacherid").val();
                    var json = { id: str };

                    $("#ACT_Teacher_RemainingCredit").prop(disable, true);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetTeacherInfo", "Admin")',
                        contentType: 'application/json',
                        data: JSON.stringify(json),
                        success: function (response) {
                            $('#ACT_Teacher_Department').val(response['ACT_Teacher_Department']);
                        }
                    });
                });
            });
        </script>
    }