@model ResultManagement.Models.TeacherInfo

@{
    ViewBag.Title = "EditTeacherDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string message = ViewBag.message;
}


@using (Html.BeginForm("EditTeacherDetails", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="box">
                    <div id="overlay">
                        <!--<div class="trick">-->
                        @*<center><img class="rounded-circle image" width="150px" src="@Url.Content(Model.ImagePath)"></center>*@
                        <!--</div>-->
                        <br />
                        <br />
                        <br />
                        <h2 class="text-center">Updating Teacher's Informations</h2>
                        <br />
                        <table class="table table-borderless">
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Name)</td>
                                <td>@Html.TextBoxFor(model => model.Teacher_Name)</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Email)</td>
                                <td>@Html.TextBoxFor(model => model.Teacher_Email)</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Email)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Birth_Date)</td>
                                <td>@Html.EditorFor(model => model.Teacher_Birth_Date, new { htmlAttributes = new { @class = "datepicker" } })</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Birth_Date)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Contact)</td>
                                <td>@Html.TextBoxFor(model => model.Teacher_Contact)</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Contact)</td>
                            <tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Address)</td>
                                <td>@Html.TextBoxFor(model => model.Teacher_Address)</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Address)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Father_Name)</td>
                                <td>@Html.TextBoxFor(model => model.Teacher_Father_Name)</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Father_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Teacher_Mother_Name)</td>
                                <td>@Html.TextBoxFor(model => model.Teacher_Mother_Name)</td>
                                <td>@Html.ValidationMessageFor(model => model.Teacher_Mother_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Designation)</td>
                                <td>@Html.TextBoxFor(model => model.Designation)</td>
                                <td>@Html.ValidationMessageFor(model => model.Designation)</td>
                            </tr>
                            <tr>
                                <td colspan="2"><center>@Html.ValidationSummary(true, @message, new { @class = "text-danger" })</center></td>
                            </tr>
                        </table>
                        
                        @Html.HiddenFor(model => model.Teacher_Id)
                        <p class="text-center">
                            <button type="submit" value="Update" class="btn btn-outline-secondary btn_page">Update Details</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


@section scripts
{
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker({
                dateFormat: "yyyy/mm/dd"
            });
        });
    </script>
}