@model ResultManagement.Models.StudentInfo

@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("StudentDetails", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <fieldset>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="box">
                    <div id="overlay">
                        <div class="trick">
                            <center><img class="rounded-circle image" width="150px" src="@Url.Content(Model.ImagePath)"></center>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />
                        <table class="table table-bordered table-responsive d-lg-table">
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Name)</td>
                                <td>@Html.DisplayFor(model => model.Student_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Reg)</td>
                                <td>@Html.DisplayFor(model => model.Student_Reg)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Department_Name)</td>
                                <td>@Html.DisplayFor(model => model.Department_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Email)</td>
                                <td>@Html.DisplayFor(model => model.Student_Email)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Contact)</td>
                                <td>@Html.DisplayFor(model => model.Student_Contact)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Address)</td>
                                <td>@Html.DisplayFor(model => model.Student_Address)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Birth_Date)</td>
                                <td>@Html.DisplayFor(model => model.Student_Birth_Date)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Father_Name)</td>
                                <td>@Html.DisplayFor(model => model.Student_Father_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Father_Contact)</td>
                                <td>@Html.DisplayFor(model => model.Student_Father_Contact)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Mother_Name)</td>
                                <td>@Html.DisplayFor(model => model.Student_Mother_Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Mother_Contact)</td>
                                <td>@Html.DisplayFor(model => model.Student_Mother_Contact)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Student_Semester)</td>
                                <td>@Html.DisplayFor(model => model.Student_Semester)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
