@model IEnumerable<ResultManagement.Models.StudentInfo>

@{
    ViewBag.Title = "ViewAllStudents";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("ViewAllStudents", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row py-5">
                <div class="box">
                    <h2 class="text-center">Teacher's Lists</h2>
                    <br />
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Student_Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Student_Reg)</th>
                                <th>@Html.DisplayNameFor(model => model.Student_Email)</th>
                                <th>@Html.DisplayNameFor(model => model.Student_Contact)</th>
                                <th>@Html.DisplayNameFor(model => model.Student_Address)</th>
                                <th>@Html.DisplayNameFor(model => model.Student_Semester)</th>
                                <th>Buttons</th>
                            </tr>
                        </thead>
                        <tbody id="tbody" class="py-5">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Student_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Student_Reg)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Student_Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Student_Contact)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Student_Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Student_Semester)</td>
                                    <td><button class="btn btn-outline-secondary btn_page">@Html.ActionLink("Details", "StudentDetails", new { id = @item.Student_Id })</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
}

@*@section scripts
    {
        <script type="text/javascript">
            $(function () {
                $("#searchfabutton").on('click', function() {

                    var str = $("#search").val();
                    var json = { stri: str };

                    $("#tbody").empty();
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("GetAllStudentsInfo", "Admin")',
                        contentType: 'application/json',
                        data: JSON.stringify(json),
                        error: function (response) {
                            alert("No data found");
                        },
                        success: function (response) {
                            $.each(response, function (key, value) {
                                $("#tbody").append(
                                    '<tr><td>' + value.Student_Name +
                                    '</td><td>' + value.Student_Reg +
                                    '</td><td>' + value.Student_Email +
                                    '</td><td>' + value.Student_Contact +
                                    '</td><td>' + value.Student_Address +
                                    '</td><td>' + value.Student_Semester +
                                    "</td><td><button class="btn btn-outline-secondary btn_page">@Html.ActionLink("Details", "StudentDetails", new{id = value.Student_Id })</button></td></tr>");
                            });
                        }
                    });
                });
            });
        </script>
    }*@