@using ResultManagement.Models
@model ResultManagement.Models.UpdatePassword

@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    TeacherInfo teacher = ViewBag.teacher;
    string message = ViewBag.Message;
}

@using (Html.BeginForm("UpdatePassword", "Teacher", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()

        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 br">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="@Url.Content(teacher.ImagePath)">
                        <span>@teacher.Teacher_Name</span>
                        <span class="text-black-50">@teacher.Teacher_Email</span>
                        <span class="text-black-50">@teacher.Teacher_Contact</span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Update your Password</h4>
                        </div>
                        <table class="table table-borderless d-grid">
                            <tbody>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Old_Password)</td>
                                    <td>@Html.PasswordFor(model => model.Old_Password)</td>
                                    <td>@Html.ValidationMessageFor(model => model.Old_Password)</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.New_Password)</td>
                                    <td>@Html.PasswordFor(model => model.New_Password)</td>
                                    <td>@Html.ValidationMessageFor(model => model.New_Password)</td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Confirm_Password)</td>
                                    <td>@Html.PasswordFor(model => model.Confirm_Password)</td>
                                    <td>@Html.ValidationMessageFor(m => m.Confirm_Password)</td>
                                </tr>
                                <br />
                                <tr class="text-center">
                                    <td colspan="2"><input type="submit" value="Update Password" class="btn btn-outline-secondary btn_page" /></td>
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.Email)
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center"><label>@message</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var password = $("#New_Password").val();
            var confirmPassword = $("#Confirm_Password").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>